body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(221, 5, 5), rgb(255, 123, 0));
    border-image-slice: 1;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
#col{
    color: rgb(0, 255, 42);
}
.half-width img{
    width: 80%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(245, 0, 0), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#center{
    text-align: center;
}
h2{
    font-size: 40px;
}
.widt{
    width:26%;
    float: left;
    margin: 2%;
    padding-left: 2%;
    border-radius: 5%;
}
.mission-area .widt img{
    width: 30%;
}
#collor{
   background-color: rgba(151, 85, 238, 0.61);
}
#collor1{
    background-color: rgba(69, 89, 202, 0.747);
}
 #collor2{
    background-color: rgba(216, 66, 203, 0.596);
} 
.dream-area{
    background-image: url("images/img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: left;
} 
footer{
    height: 20px;
    width: 100%;
    color: black;
    
}
footer h1{
    text-align: center;
}
footer p{
    text-align: center;
}